Nomes: Bel Cogo e Bruno da Siqueira Hoffmann.

Professor: Felipe de Morais.

Disciplina: Ciência de Dados e Big Data.

# Tarefa 1

O banco de dados utilizado para essa tarefa contém dados referentes a dados de transações, consistindo em 5 tabelas, sendo elas:

- sellers: Contém informações sobre os vendedores, incluindo o estado em que estão localizados.
- products: Detalha os produtos disponíveis no marketplace, incluindo categorias e pesos.
- orders: Fornece informações básicas sobre cada pedido, como registros de data/hora e contato do cliente.
- order_items: Agrupa os itens associados a cada pedido, incluindo detalhes de preço.
- order_reviews: Armazena as avaliações relacionadas a cada pedido, incluindo classificações numéricas e comentários em texto.

É possível verificar o ER do banco de dados abaixo:

![Diagrama ER.jpg](./Diagrama%20ER.jpg)

Para importar o banco de dados foi executado o comando abaixo:

In [3]:
import pandas as pd
import sqlite3

connection = sqlite3.connect('transactional_data.sqlite')

In [12]:
df = pd.read_sql('SELECT * FROM order_reviews;', connection)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39462 entries, 0 to 39461
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   review_id               39462 non-null  object
 1   order_id                39462 non-null  object
 2   review_score            39462 non-null  int64
 3   review_comment_message  39462 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.2+ MB